<nav>
    <ul>
        <li><a class="<%= path === 'Home' ? 'active' : '' %>" href="/">Home </a></li>
        <li><a class="<%= path === 'Home' ? 'active' : '' %>" href="#">|</a></li>
        <li><a class="<%= path === 'NewProduct' ? 'active' : '' %>" href="/add-product">Add New Product</a></li>
    </ul>
</nav>