<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs')%>
</head>
<body>
    <header>
        <%- include('includes/header.ejs')%>
    </header>
    <main>
  <div class="container">
    <h1>Add Book!</h1>
    <div class="headcollapse">
        <form action="/add-book" method="POST"  >
            <input type="text" placeholder="Insert Name of book" name="Title" required>
            <input type="text" placeholder="Insert ISBN" name="Book_ISBN" required>
            <input type="text" placeholder="Insert Author" name="Author" required>
            <input type="text" placeholder="Insert Publish Year" name="PublishYear" required>
            <button type="submit"><span style="padding:5px;border-radius:5px 5px;">Add</span> <i class="fas fa-book"style="padding-right:7px;" ></i></button>
        </form>
    </div>
    <div class="container">
    </main>
    <footer>
        <%- include('includes/footer.ejs')%>
    </footer>
</body>
</html>