<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head.ejs')%>
</head>
<body>
    <header>
        <%- include('includes/header.ejs')%>
    </header>
    <main>
        <% if (productList.length > 0) {%>
            <div class="container">
            <h1>My Products</h1>
            <p>List of all the products...</p>
           
                <div class="grid">
                    <% for (let product of productList) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="title">Title: <span class="letras"><%=product.Title%></span></h1>
                           
                        </header>
                       
                    </article>
                    <% } %>
                </div>
            </div>    
            <% }  else {%>
    <h1>No Products Found!</h1>
                <% }%>
    </main>
    <footer>
        <%- include('includes/footer.ejs')%>
    </footer>
</body>
</html>